<template>
    <v-row class="question">

      <v-col cols="12" offset-md="3" md="6">
        <h2>{{ question.text }}</h2>
      </v-col>

      <v-col v-if="question.image" cols="12" offset-md="3" md="6" class="text-center">
        <img :src="API_HOST + question.image.url" :alt="question.image.alt" />
      </v-col>

      <v-col cols="12" offset-md="3" md="6">
        <ul>
          <li v-if="question.answer1" class="mb-3" @click="checkAnswer($event, 'answer1', question.correctAnswer)"><v-btn block height="auto" class="pa-3 text-left justify-start" v-bind:color="(this.correctAnswer == 'answer1') ? 'success' : (this.answer1Clicked) ? 'error' : ''">{{ question.answer1 }}</v-btn></li>
          <li v-if="question.answer2" class="mb-3" @click="checkAnswer($event, 'answer2', question.correctAnswer)"><v-btn block height="auto" class="pa-3 text-left justify-start" v-bind:color="(this.correctAnswer == 'answer2') ? 'success' : (this.answer2Clicked) ? 'error' : ''">{{ question.answer2 }}</v-btn></li>
          <li v-if="question.answer3" class="mb-3" @click="checkAnswer($event, 'answer3', question.correctAnswer)"><v-btn block height="auto" class="pa-3 text-left justify-start" v-bind:color="(this.correctAnswer == 'answer3') ? 'success' : (this.answer3Clicked) ? 'error' : ''">{{ question.answer3 }}</v-btn></li>
          <li v-if="question.answer4" class="mb-3" @click="checkAnswer($event, 'answer4', question.correctAnswer)"><v-btn block height="auto" class="pa-3 text-left justify-start" v-bind:color="(this.correctAnswer == 'answer4') ? 'success' : (this.answer4Clicked) ? 'error' : ''">{{ question.answer4 }}</v-btn></li>
          <li v-if="question.answer5" class="mb-3" @click="checkAnswer($event, 'answer5', question.correctAnswer)"><v-btn block height="auto" class="pa-3 text-left justify-start" v-bind:color="(this.correctAnswer == 'answer5') ? 'success' : (this.answer5Clicked) ? 'error' : ''">{{ question.answer5 }}</v-btn></li>
          <li v-if="question.answer6" class="mb-3" @click="checkAnswer($event, 'answer6', question.correctAnswer)"><v-btn block height="auto" class="pa-3 text-left justify-start" v-bind:color="(this.correctAnswer == 'answer6') ? 'success' : (this.answer6Clicked) ? 'error' : ''">{{ question.answer6 }}</v-btn></li>
        </ul>
      </v-col>

      <v-col cols="6" offset-md="3" md="3">
        <v-btn inline color="primary" @click="prev">Vorherige Frage</v-btn>
      </v-col>
      <v-col cols="6" md="3" class="text-right">
        <v-btn inline color="primary" @click="next">Nächste Frage</v-btn>
      </v-col>
    </v-row>
</template>

<script>
  import {API_HOST} from '../../constants'

  export default {
    name: 'Question',

    props: {
      question: Object,
      onNext: Function,
      onPrev: Function
    },

    data() {
      return {
        API_HOST: API_HOST,
        answer1Clicked: false,
        answer2Clicked: false,
        answer3Clicked: false,
        answer4Clicked: false,
        answer5Clicked: false,
        answer6Clicked: false,
        correctAnswer: ''
      }
    },

    methods: {
      checkAnswer(event, answer, correctAnswer) {
        this.correctAnswer = correctAnswer
        this[answer + 'Clicked'] = true
      },
      prev()  {
        this.reset()
        this.$props.onPrev()
      },
      next()  {
        this.reset()
        this.$props.onNext()
      },
      reset() {
        this.answer1Clicked = false
        this.answer2Clicked = false
        this.answer3Clicked = false
        this.answer4Clicked = false
        this.answer5Clicked = false
        this.answer6Clicked = false
        this.correctAnswer = ''
      }
    }
  }
</script>
