<template>
  <v-app>
    <!--
    <v-navigation-drawer app>
    </v-navigation-drawer>
    -->

    <v-app-bar app>
      <v-app-bar-title>
        <router-link to="/">
          <v-img
            :src="logo"
            contain
            alt="Hundeführerschein"
          /> Hundeführerschein
        </router-link>
      </v-app-bar-title>

      <v-spacer></v-spacer>

      <span class="mr-10">Frage {{ this.$store.state.currentQuestion }} von {{ this.$store.state.questionsCount }}</span>

      <!--
      <v-btn text><router-link to="/">Home</router-link></v-btn>
      <v-btn text><router-link to="/about">Über uns</router-link></v-btn>
      -->

    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

  </v-app>
</template>

<script>
import logo from './assets/img/logo.png'
import axios from "axios";
import {API_HOST} from "../constants";

export default {
  name: 'App',

  data: () => ({
    //
    logo: logo
  }),

  async mounted () {
    axios.get(API_HOST + '/questions/count').then(response => {
      if (response && response.data) {
        this.$store.commit('setQuestionsCount', parseInt(response.data))
        console.log('setQuestionsCount', parseInt(response.data))
      }
    })
  }
}
</script>
