<template>
  <v-container class="home">

    <div v-if="error">
      {{ error }}
    </div>
    <div v-else-if="questions.length > 0">
      <Question :question="questions[this.$store.state.currentQuestion-1]" :onNext="next" :onPrev="prev" />
    </div>

  </v-container>
</template>

<script>
import axios from 'axios'
import {API_HOST} from '../../constants'

import Question from '@/components/Question.vue'

export default {
  name: 'Home',

  components: {
    Question,
  },

  data () {
    return {
      questions: [],
      error: null
    }
  },

  async mounted () {
    try {
      const response = await axios.get(API_HOST + '/questions?_limit=' + this.$store.state.questionsCount)
      this.questions = response.data
    } catch (error) {
      this.error = error
    }
  },

  methods: {
    next() {
      let currentQuestion = parseInt(this.$store.state.currentQuestion)
      currentQuestion = currentQuestion === this.questions.length ? 1 : currentQuestion+1
      this.$store.commit('setCurrentQuestion', currentQuestion)
    },
    prev() {
      let currentQuestion = parseInt(this.$store.state.currentQuestion)
      currentQuestion = currentQuestion === 1 ? this.questions.length : currentQuestion-1
      this.$store.commit('setCurrentQuestion', currentQuestion)
    }
  }
};
</script>
