<template>
  <v-container class="question">

    <div v-if="error">
      {{ error }}
    </div>
    <div v-else-if="question">
      <Question :question="question" :onNext="next" :onPrev="prev" />
    </div>

  </v-container>
</template>

<script>
  import axios from 'axios'
  import {API_HOST} from '../../constants'

  import Question from '@/components/Question.vue'

  export default {
    name: 'QuestionView',

    components: {
      Question,
    },

    data() {
      return {
        question: null,
        error: null
      }
    },

    async mounted() {
      this.getQuestion(this.$route.params.id)
    },

    methods: {
      next() {
        let currentQuestion = parseInt(this.$store.state.currentQuestion)
        currentQuestion = currentQuestion === this.$store.state.questionsCount ? 1 : currentQuestion + 1
        this.getQuestion(currentQuestion)
        this.$store.commit('setCurrentQuestion', currentQuestion)
        this.$router.push('/question/' + currentQuestion)
      },
      prev() {
        let currentQuestion = parseInt(this.$store.state.currentQuestion)
        currentQuestion = currentQuestion === 1 ? this.$store.state.questionsCount : currentQuestion - 1
        this.getQuestion(currentQuestion)
        this.$store.commit('setCurrentQuestion', currentQuestion)
        this.$router.push('/question/' + currentQuestion)
      },
      async getQuestion(id) {
        try {
          const response = await axios.get(API_HOST + '/questions?_id=' + id)
          if (response && response.data) {
            this.question = response.data[0]
            this.$store.commit('setCurrentQuestion', this.$route.params.id)
          }
        } catch (error) {
          this.error = error
        }
      }
    }
  }
</script>
