html, body {
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  // Header
  .v-app-bar {
    .v-app-bar-title a {
      text-decoration: none;
    }
  }

  // Main
  .v-main {
    overflow: auto;

    .question {
      ul li {
        list-style: none;
      }
    }
  }
}
